@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-color: #1B98F5;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.main{
    background-color: #fff;
    width: 35%;
    height: 300px; /* 500px */
    
    margin: auto;
    margin-top: 10%;
    transition: height 0.2s ease-in-out;
}
.title{
    text-align: center;
    padding-top: 30px;
}

.data{
    width: 85%;
    margin-top: 20px;
    /* height: 14%; */
    /* height: 14%; */
    padding: 10px;
    text-align: center;
}

.submit{
    width: 87%;
    margin-top: 50px;
    /* height: 14%; */
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 30px;
    background-color: #1b98f5;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}
img{
    margin-top: 10px;
    margin-left: 35%;
    display: block;
}
.main.active
{
   height: 500px;
   
   
}
.qr-code
{
    margin-top: 10px;
}